<nav>
  <div class="navbar">
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="burger-links">
      <li>
        <a class="nav-link" href="#">Cameras</a>
      </li>
      <li>
        <a class="nav-link" href="#">Lenses</a>
      </li>
      <li>
        <a class="nav-link" href="#">Drones</a>
      </li>
      <li>
        <a class="nav-link" href="#">Support Equipment</a>
      </li>
    </ul>

    <div class="user">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Home", "#", class: "nav-link-right" %>
        </li>
        <li class="nav-item">
          <%= link_to "Compare", "#", class: "nav-link-right" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag  %>
          <ul>
            <%= link_to "Messages", "#", class: "dropdown-item" %>
            <%= link_to "Wishlist", "#", class: "dropdown-item" %>
            <%= link_to "Account", "#", class: "dropdown-item" %>
            <%= link_to "Logout", "#", class: "dropdown-item" %>
          </ul>
        </li>
      <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link-right" %>
      <% end %>
    </div>
  </div>


</nav>


