<div class="navbar1 navbar-expand-sm navbar-light navbar--lewagon">
  <div class="navbar1__burger">
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
    </div>
    <ul class="navbar1__burger-dropdown">
      <li>
        <a class="navbar1__burger-link" href="#">Cameras</a>
      </li>
      <li>
        <a class="navbar1__burger-link" href="#">Lenses</a>
      </li>
      <li>
        <a class="navbar1__burger-link" href="#">Drones</a>
      </li>
      <li>
        <a class="navbar1__burger-link" href="#">Support Equipment</a>
      </li>
    </ul>

  <div class="content">
    <ul class="navbar-links">
      <li class="nav-item">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Compare", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Messages", "#", class: "dropdown-item" %>
          <%= link_to "Wishlist", "#", class: "dropdown-item" %>
          <%= link_to "Account", "#", class: "dropdown-item" %>
          <%= link_to "Logout", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

