
<div class="navy">


<!-- <nav>
  <div class="navbar">
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="burger-dropdown">
      <li>
        <a class="burger-link" href="#">Cameras</a>
      </li>
      <li>
        <a class="burger-link" href="#">Lenses</a>
      </li>
      <li>
        <a class="burger-link" href="#">Drones</a>
      </li>
      <li>
        <a class="burger-link" href="#">Support Equipment</a>
      </li>
    </ul>

<div class="navbar1">

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <ul class="burger-dropdown">
        <li>
          <%= link_to "Cameras", product_path("Camera"), class: "burger-link" %>
        </li>
        <li>
          <%= link_to "Lenses", product_path("Lens"), class: "burger-link" %>
        </li>
        <li>
          <%= link_to "Drones", product_path("Drone"), class: "burger-link" %>
        </li>
        <li>
          Support Equipment
        </li>
          <%= link_to "Lighting", product_path("Lighting"), class: "burger-link" %>
          <%= link_to "Audios", product_path("Audio"), class: "burger-link" %>
          <%= link_to "Tripods", product_path("Tripod"), class: "burger-link" %>
          <%= link_to "Stabilizers", product_path("Stabilizer"), class: "burger-link" %>
    </ul>
  </div>


  <div class="user">
    <ul>
    <% if user_signed_in? %>

        <li>
          <%= link_to "Home", "#" %>
        </li>
        <li>
          <%= link_to "Compare", "#"%>
        </li>
        <li class="avatar">
            <h4>A</h4>
            <div class="avatar-dropdown">
              <%= link_to "Messages", "#", class: "avatar-link" %>
              <%= link_to "Wishlist", "#", class: "avatar-link" %>
              <%= link_to "Account", "#", class: "avatar-link" %>
              <%= link_to "Logout", "#", class: "avatar-link" %>
          </div>
        </li>
  </div>
  <div class="user">
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</div>

</nav> -->


<div class="navbar1 navbar-expand-sm navbar-light navbar-lewagon">
  <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <ul class="burger-dropdown">
      <li>
        <a class="burger-link" href="#">Cameras</a>
      </li>
      <li>
        <a class="burger-link" href="#">Lenses</a>
      </li>
      <li>
        <a class="burger-link" href="#">Drones</a>
      </li>
      <li>
        <a class="burger-link" href="#">Support Equipment</a>
      </li>
    </ul>

  <!-- <button class="navbar-toggler"> type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->


  <div class="content"> <!-- id="navbarSupportedContent" -->
    <ul class="navbar-links">
      <li class="nav-item">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Compare", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Messages", "#", class: "dropdown-item" %>
          <%= link_to "Wishlist", "#", class: "dropdown-item" %>
          <%= link_to "Account", "#", class: "dropdown-item" %>
          <%= link_to "Logout", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>



