<div class="navbar1 navbar-expand-sm navbar-light navbar--lewagon">
  <div class="navbar1__burger">
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
    </div>
    <ul class="navbar1__burger-dropdown">
      <li>
        <%= link_to "Cameras", products_path(:productable_type => 'Camera')%>
      </li>
      <li>
        <%= link_to "Lenses", products_path(:productable_type => 'Lens')%>
      </li>
      <li>
        <%= link_to "Drones", products_path(:productable_type => 'Drone')%>
      </li>
      <li>
        <%= link_to "Support Equipment", products_path = { :productable_type => 'Audio', :productable_type => 'Lighting', :productable_type => 'Stabilizer', :productable_type => 'Tripod' }%>
      </li>
    </ul>

  <div class="content">
    <ul class="navbar-links">
      <li class="nav-item">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Compare", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Messages", "#", class: "dropdown-item" %>
          <%= link_to "Wishlist", "#", class: "dropdown-item" %>
          <%= link_to "Account", "#", class: "dropdown-item" %>
          <%= link_to "Logout", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

