<!-- div for sidbar nav -->
<div class="button-filter">filter +</div>
<div class="index">
  <% if @products.empty? %>
    <h2> Sorry, there's no matching product at the moment </h2>
  <% else %>
    <div class="product">
          <!-- Div Container for all Product cards-->
      <% @products.each do |product| %>
        <div data-product="<%= product.id %>" id="products-render"class="product__card">

           <%= render partial: 'products/products_info_card', locals: {product: product, brand: product.brand, page: 'products'} %>

        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="filter" style="" >
    <div class="filter__category">
      Brands
        <% if params[:productable_type] == 'Camera' %>
          <% @brands = Brand.all.select {|brand| brand.product_types.include?('cameras')} %>
            <% @brands.each do |brand| %>
                <p><%= link_to brand.name, products_path(:productable_type => 'Camera', :brand_id => brand),
                        page: 'products',
                        # remote: true,
                        method: :get %></p>
            <% end %>
        <% elsif params[:productable_type] == 'Lens'  %>
          <% @brands = Brand.all.select {|brand| brand.product_types.include?('lenses')} %>
            <% @brands.each do |brand| %>
                <p><%= link_to brand.name, products_path(:productable_type => 'Lens', :brand_id => brand),
                        page: 'products',
                        # remote: true,
                        method: :get %></p>
            <% end %>
        <% elsif params[:productable_type] == 'Drone'  %>
            <% @brands = Brand.all.select {|brand| brand.product_types.include?('drones')} %>
            <% @brands.each do |brand| %>
                <p><%= link_to brand.name, products_path(:productable_type => 'Drone', :brand_id => brand),
                        page: 'products',
                        # remote: true,
                        method: :get %></p>
            <% end %>
        <% else %>
          <% @brands = Brand.all.select {|brand| brand.product_types.any? { |type| ['audios', 'lightings', 'tripods', 'stabilizers'].include? type } }%>
          <% @brands.each do |brand| %>
                <p><%= link_to brand.name, products_path(:productable_type => ['Audio', 'Lighting', 'Stabilizer', 'Tripod'], :brand_id => brand),
                        page: 'products',
                        # remote: true,
                        method: :get %></p>
            <% end %>
        <% end %>
    </div>

    <div class="">
      <h1>Categories</h1>
        <!-- This is where Categories Names are supposed to be listed
          but Camera and Lenses are not yet available -->
    </div>

    <div class="">
      <h1>Type Of Photography</h1>
        <!-- This is where Type of Photography Names are supposed to be listed
          but Camera and Lenses are not yet available -->
    </div>
  </div>
</div>
